<div classNameName="col-lg-7">
    <div classNameName="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
        <div className="price-item pb-4">
            <div className="position-relative">
                <img className="img-fluid rounded-top" src="img/price-1.jpg" alt="">
                <div className="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style={{ z-index: 2 }} >
                    <h2 className="text-primary m-0">$75</h2>
                </div>
            </div>
            <div className="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                <h4>Superior Standard Room</h4>
                <hr className="text-primary w-50 mx-auto mt-0">
               <div className="d-flex justify-content-between mb-3"><span>Clothing and Footwear Repairing</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-3"><span>Dry Fleaner</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-3"><span>Free Wifi</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-2"><span>Local Wine</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-2"><span>Breakfast</span><i className="fa fa-check text-primary pt-1"></i></div>
                <a href="appointment.html" className="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Book Now</a>
            </div>
        </div>
        <div className="price-item pb-4">
            <div className="position-relative">
                <img className="img-fluid rounded-top" src="img/price-2.jpg" alt="">
                <div className="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style={{ z-index: 2 }} >
                    <h2 className="text-primary m-0">$80</h2>
                </div>
            </div>
            <div className="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                <h4>Executive Room</h4>
                <hr className="text-primary w-50 mx-auto mt-0">
                <div className="d-flex justify-content-between mb-3"><span>Clothing and Footwear Repairing</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-3"><span>Dry Fleaner</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-3"><span>Free Wifi</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-2"><span>Local Wine</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-2"><span>Breakfast</span><i className="fa fa-check text-primary pt-1"></i></div>
                <a href="appointment.html" className="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Book Now</a>
            </div>
        </div>
        <div className="price-item pb-4">
            <div className="position-relative">
                <img className="img-fluid rounded-top" src="img/price-3.jpg" alt="">
                <div className="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style={{z-index: 2 }}>
                    <h2 className="text-primary m-0">$85</h2>
                </div>
            </div>
            <div className="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                <h4> Suite Room</h4>
                <hr className="text-primary w-50 mx-auto mt-0">
                <div className="d-flex justify-content-between mb-3"><span>Clothing and Footwear Repairing</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-3"><span>Dry Fleaner</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-3"><span>Free Wifi</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-2"><span>Local Wine</span><i className="fa fa-check text-primary pt-1"></i></div>
                <div className="d-flex justify-content-between mb-2"><span>Breakfast</span><i className="fa fa-check text-primary pt-1"></i></div>
                <a href="appointment.html" className="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Book Now</a>
            </div>
        </div>
    </div>
</div>
</div>